* {
    box-sizing: border-box;
}

body{
    background-color:#bdcebe;
}
button{
    width: 40px;
    height: 40px;
    background-color: lightseagreen;
    display:block;
    position: absolute;
    top:30px;
    right: 10px;
    padding: 5px;
    width: 300px;
}
table {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    border: black;
}
.board td {
    width: 37px;
    height: 37px;
    text-align: center;
    padding: 10px;
    font-size:x-small;
    font-weight: bolder;
    
}

.shown{
    background-color: rgba(211, 211, 211, 0.39);
}

.selector {
    position: absolute;
    bottom: 80px;
    left: 550px;
    font-size:large;
    align-self: center;
}
.timer {
    height: 60px;
    width: 180px;
    background-color:#eca1a6;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 7px;
    text-align: center;
    font-size: larger;
    position: absolute;
    top: 100px;
    right: 50px;
}

.footer{
    position: absolute;
    bottom: 50px;
    left: 600px;
    font-weight: bolder;
    font-style: italic;
}

.lives{
    height: 60px;
    width: 180px;
    background-color:#b9936c;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 7px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    position: absolute;
    bottom: 400px;
    left: 50px;
}

.hints{
    font-size: 80px;
    width: 80px;
    color:white; 
    position: absolute;
    bottom: 150px;
}
.hints.n1{
    left: 50px;
}
.hints.n2{
    left: 150px;
}
.hints.n3{
    left: 250px;
}
.message{
    visibility: hidden;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 20px;
}
